{% extends 'main/layout.html' %}
{% load static %}
{% block title %} AfterLogin {% endblock %}

{% block content %}
    <header>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="text-center">
                <img src="{% static 'main/images/favicon.jpg'%}" class="rounded-circle" style="width: 150px; padding-top: 50px">
              </div>
            </div>
          </div>
        </div>
    </header>
    <h1 class="text-center">Воспоминания</h1>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <div class="add_memory">
                    <a href="{% url 'create' %}"><button type="button" class="btn btn-primary" style="margin-top: 30px;">
                        Добавить воспоминание
                    </button></a>
                    </div>
                    <div class="memory_list" style="margin-top: 40px;">
                        {% if memory %}
                            {% for el in memory %}
                                <div class="alert alert-primary">
                                    <h3>{{ el.title }}</h3>
                                    <p>{{ el.memory_text }}</p>
                                    <p style="text-align: right; font-size: 10pt">{{ el.date }}</p>
                                </div>
                            {% endfor %}
                        {% else %}
                            <h3>У вас нет воспоминаний</h3>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}