{% extends 'main/layout.html' %}
{% load static %}
{% block title %} AfterLogin {% endblock %}

{% block content %}
    <header>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="text-center">
                <img src="{% static 'main/images/favicon.jpg'%}" class="rounded-circle" style="width: 150px; padding-top: 50px">
              </div>
            </div>
          </div>
        </div>
    </header>
    <h1 class="text-center">Воспоминания</h1>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <div class="memory_list">
                        {% if memory %}
                            {% for el in memory %}
                                <div class="alert alert-primary">
                                    <h3>{{ el.title }}</h3>
                                    <p>{{ el.memory_text }}</p>
                                </div>
                            {% endfor %}
                        {% else %}
                            <h3>У вас нет воспоминаний</h3>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}